
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Agenda tu encuentro con el asesor que desees</h5>
          <p class="grey-text text-lighten-4">Desarrollado por estudiantes de la Universidad de pamplona para todo aquel que quiera crecer academicamente.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Enlaces</h5>
          <ul>
            <li ><a class="grey-text text-lighten-3" href="http://localhost/sistema_asesorias/About/cargaAbout">Quienes Somos</a></li>
            <li ><a class="grey-text text-lighten-3" href="http://localhost/sistema_asesorias/About/cargaContact">Contacto</a></li>
            <li ><a class="grey-text text-lighten-3" href="http://localhost/sistema_asesorias/Login/carga">Iniciar Sesión</a></li>
            <li ><a class="grey-text text-lighten-3" href="http://localhost/sistema_asesorias/Registro/carga">Registrarse</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019 Copyright - Todos Los Derechos Reservados.
      <a class="grey-text text-lighten-4 right" href="#!">Sistema De Asesorias</a>
      </div>
    </div>
  </footer>

  <!-- Core Javascript -->
  <script type="text/javascript" src="http://localhost/sistema_asesorias/Resource/js/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/materialize/0.98.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="http://localhost/sistema_asesorias/Resource/js/gallery.min.opt.js"></script>
  <script type="text/javascript" src="http://localhost/sistema_asesorias/Resource/js/Estudiante.js"></script>
  <script type="text/javascript" src="http://localhost/sistema_asesorias/Resource/js/Usuario.js"></script>
  <script type="text/javascript" src="http://localhost/sistema_asesorias/Resource/js/app.js"></script>
  <script type="text/javascript" src="http://localhost/sistema_asesorias/Resource/js/config.js"></script>
  <script type="text/javascript" src="http://localhost/sistema_asesorias/Resource/js/validaciones.js"></script>
  <script type="text/javascript" src="http://localhost/sistema_asesorias/Resource/js/funciones.js"></script>

</body>

</html>
