<nav class="nav-extended">
        
    <div class="nav-wrapper db">
        <a href="#" class="brand-logo"><i class="material-icons">book</i>Asesorias</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="bt hide-on-med-and-down">
        <li><a href="http://localhost/sistema_asesorias/Index/index">Inicio</a></li>
        <li ><a href="http://localhost/sistema_asesorias/About/cargaAbout">Quienes Somos</a></li>
        <li ><a href="http://localhost/sistema_asesorias/About/cargaContact">Contacto</a></li>
        <li><a href="http://localhost/sistema_asesorias/Buscar/carga">Encontrar Asesor</a></li>
        <li><a class='dropdown-button' href='#' data-activates='feature-dropdown' data-belowOrigin="true"
            data-constrainWidth="false" id="name1"><i class="material-icons bt">arrow_drop_down</i></a></li>
        </ul>
    </div>
   
  </nav>

<div class="container">
    <div class="row">
        <div class="col s12 fixed">
            <div class="card">
                <div class="card-content">
                    <p class="center-align"><B>PERFIL DEL ASESOR</B></p>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col s4">
                                <img src="https://www.filo.news/export/sites/claro/img/2019/09/16/dns2fdcw4aerobb.jpg_429571268.jpg" alt="" class="circle responsive-img">    
                                <p class="center-align"><B id="nombreAsesor"></B></p>
                                <br>
                            </div>
                            <div class="col s8">
                                <p class="center-align"><B>Ubicación</B></p>
                                <p class="center-align" id="ubicacionAsesor"></p>
                                <br>
                                <p class="center-align"><B>Correo Electrónico</B></p>
                                <p class="center-align" id="correoAsesor"></p>
                                <br>
                                <p class="center-align"><B>Fecha de Nacimiento</B></p>
                                <p class="center-align" id="fechaAsesor"></p>
                                <br>
                                <p class="center-align"><B>Experiencia</B></p>
                                <p class="center-align" id="experienciaAsesor"></p>
                                <br>
                                <p class="center-align"><B>Recomendaciones</B></p>
                                <p class="center-align" id="recomendacionesAsesor"></p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <p class="center-align"><B>Biografía</B></p>
                    <br>
                    <p class="center-align" id="biografiaAsesor"></p>
                </div>
                
            </div>
        </div>
    </div>
</div>