<nav class="nav-extended">
        
    <div class="nav-wrapper db">
        <a href="#" class="brand-logo"><i class="material-icons">book</i>Asesorias</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="bt hide-on-med-and-down">
            <li class="k"><a href="http://localhost/sistema_asesorias/Index/index">Inicio</a></li>
            <li ><a href="http://localhost/sistema_asesorias/About/cargaAbout">Quienes Somos</a></li>
            <li ><a href="http://localhost/sistema_asesorias/About/cargaContact">Contacto</a></li>
            <li ><a href="http://localhost/sistema_asesorias/Buscar/carga">Encontrar Asesor</a></li>
            <li id="name1" ><a href="http://localhost/sistema_asesorias/Login/carga">Iniciar Sesión</a></li>
        </ul>
    </div>
   
  </nav>

<div class="container">
    <div class="row">
        <div class="col s12 fixed">
            <div id="perfil-asesor" class="card">
                <div class="card-content">
                    <p class="center-align"><B>PERFIL DEL ASESOR</B></p>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col s4">
                                <img src="https://www.filo.news/export/sites/claro/img/2019/09/16/dns2fdcw4aerobb.jpg_429571268.jpg" alt="" class="circle responsive-img">    
                                <p class="center-align"><B id="nombreAsesor"></B></p>
                                <br>
                                <a onclick="openFormAsesoria()" class="btn">Agendar Asesoría</a>
                            </div>
                            <div class="col s8">
                                <p class="center-align"><B>Ubicación</B></p>
                                <p class="center-align" id="ubicacionAsesor"></p>
                                <br>
                                <p class="center-align"><B>Correo Electrónico</B></p>
                                <p class="center-align" id="correoAsesor"></p>
                                <br>
                                <p class="center-align"><B>Fecha de Nacimiento</B></p>
                                <p class="center-align" id="fechaAsesor"></p>
                                <br>
                                <p class="center-align"><B>Experiencia</B></p>
                                <p class="center-align" id="experienciaAsesor"></p>
                                <br>
                                <p class="center-align"><B>Recomendaciones</B></p>
                                <p class="center-align" id="recomendacionesAsesor"></p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <p class="center-align"><B>Biografía</B></p>
                    <br>
                    <p class="center-align" id="biografiaAsesor"></p>
                    <br>
                    <p class="center-align"><B>Experiencia en: </B></p>
                    <br>
                    <div class="container">
                        <div id="container-asignaturas" class="row">

                        </div>
                    </div>

                    <div class="container">
                        <div id="cuenta-card" class="card" style="display: none;">
                        
                            <div class="card-content">
    
                                <span class="card-title center cyan-text text-darken-1"><b>Agendar Asesoría</b></span>
                                <div class="row"></div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">date_range</i>
                                        <input id="fechaagenda" name="fechaagenda" type="date">
                                        <Script>
                                            var f = new Date();
                                            var factual = f.getFullYear() + "-" + (f.getMonth() + 1) + "-" + f.getDate();
                                            var dateControl = document.querySelector('#fechaagenda');
                                            dateControl.value = factual; 
                                        </Script>
                                        <label for="fechaagenda">Fecha de Asesoría</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">access_time</i>
                                        <input id="horainicial" name="horainicial" type="time" min="04:00" max="22:00">
                                        <label for="horainicial">Hora Inicial</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">access_time</i>
                                        <input id="horafinal" name="horafinal" type="time" min="04:00" max="22:00">
                                        <label for="horafinal">Hora Final</label>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">book</i>
                                        <select id="combo_asignaturasasesor" name="combo_asignaturasasesor">
    
                                        </select>
                                        <label for="combo_asignaturasasesor">Asignatura</label>
                                    </div>
                                </div>

                                <div class="row center">
                                    <a class="btn success" onclick="agendarAsesoria()">
                                        Agendar<i class="material-icons right">check_circle</i></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>