<nav class="nav-extended">
        
    <div class="nav-wrapper db">
        <a href="#" class="brand-logo"><i class="material-icons">book</i>Asesorias</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="bt hide-on-med-and-down">
            <li><a href="http://localhost/sistema_asesorias/Index/index">Inicio</a></li>
            <li><a href="http://localhost/sistema_asesorias/About/cargaAbout">Quienes Somos</a></li>
            <li><a href="http://localhost/sistema_asesorias/Buscar/carga">Encontrar Asesor</a></li>
            <li id="name1" ><a href="http://localhost/sistema_asesorias/Login/carga">Iniciar Sesión</a></li>
        </ul>
    </div>
   
  </nav>

<div class="container">
    <div class="row">
        <div class="col s12 fixed">
            <div class="card colorback">
                <div class="card-content">
                    <h4 class="center-align"><b>Comentarios</b></h4>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div id="cont-comentarios" class="col s12">
                                
                            </div>
                            <input style="margin-top: 10px;" id="inputComentar" type="text" placeholder="Escribe tu comentario" />
                        </div>
                    </div>
                        
                </div>
                
            </div>
        </div>
    </div>
</div>