<nav class="nav-extended">
    <div class="nav-wrapper db">
        <a href="http://localhost/sistema_asesorias/" class="brand-logo"><i class="material-icons">book</i>Asesorias</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="bt hide-on-med-and-down">
        <li><a href="http://localhost/sistema_asesorias/Asesor/miperfil">Inicio</a></li>
        <li ><a href="http://localhost/sistema_asesorias/About/cargaAbout">Quienes Somos</a></li>
        <li ><a href="http://localhost/sistema_asesorias/About/cargaContact">Contacto</a></li>
        <li ><a href="http://localhost/sistema_asesorias/Asesor/miperfil">Encontrar Asesor</a></li>
        <li><a class='dropdown-button' href='#' data-activates='feature-dropdown' data-belowOrigin="true"
            data-constrainWidth="false" id="name1"><i class="material-icons bt">arrow_drop_down</i></a></li>
        </ul>
        <!-- Dropdown Structure -->
        <ul id='feature-dropdown' class='dropdown-content'>
            <li><a href="http://localhost/sistema_asesorias/Asesor/miperfil">Ver Perfil</a></li>
            <li><a href="http://localhost/sistema_asesorias/Index/destroySession" onclick="sessionCloseAsesor();">Cerrar Sesion</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content center-align">
                    <h5 class="center-align"><B>Tu Perfil</B></h5>
                    <img src="https://www.filo.news/export/sites/claro/img/2019/09/16/dns2fdcw4aerobb.jpg_429571268.jpg" class="circle responsive-img">    
                    <input type="text" id="nombreAsesor" placeholder="Nombres">
                    <input type="text" id="apellidoAsesor" placeholder="Apellidos">
                    <input type="text" id="ubicacionAsesor" placeholder="Ubicación">
                    <input type="text" id="correoAsesor" placeholder="Correo Electrónico">
                    <input type="date" id="fechaAsesor" placeholder="Fecha de Creación">
                    <input type="text" id="experienciaAsesor" disabled>
                    <input type="text" id="recomendacionesAsesor" disabled>
                    <input type="text" id="biografiaAsesor">
                    <a class="btn success btn-block" onclick="actualizarAsesor()">Actualizar Datos<i class="material-icons right">check_circle</i></a>
                </div>
            </div>
        </div>
        <div class="col s7">

            <hr>
            <div>
                <h4><b>Asesorías Agendadas</b></h4>
            </div>
            <hr>
            
            <ul id="listaAsesorias" class="collection">
                
            </ul>

        </div>
    </div>
</div>