    <div class="container">

        <div id="login-page" class="row">
          <div class="row">&nbsp;</div>

            <div class="card">

              <div class="card-action cyan darken-4 white-text center-align">
                <h4>Asesorias UP <i id="icn-cuenta" class="material-icons prefix">school</i></h4>
              </div>
              
              <div class="card-content">
                
                <form id="loginform" method="POST">
                  <div class="row"></div>

                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">mail_outline</i>
                      <input class="validate" id="email" type="email" required>
                      <label class="error" for="email" data-error="wrong">Email</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">lock_outline</i>
                      <input class="validate" id="password" type="password" minlength="5" maxlength="15" required>
                      <label class="error" for="password">Contraseña</label>
                    </div>
                  </div>

                  <div class="row">          
                    <div class="input-field col s12">
                      <label>
                        <input type="checkbox" id="remember"/>
                        <span>Recordarme</span>
                      </label>
                    </div>
                  </div>

                  <div class="row"></div>
                  <div class="row">
                    <center>
                        <button onclick="iniciarSesion();" class="btn waves-effect waves-green cyan darken-4">
                          Iniciar Sesi&oacute;n<i class="material-icons right">power</i></button>
                    </center>
                  </div>

                  <div class="row">
                    <div class="input-field col s6 m6 l6">
                      <p class="margin medium-small"><a href="registro.html">Regístrate Ahora!</a></p>
                    </div>
                    <div class="input-field col s6 m6 l6">
                      <p class="margin right-align medium-small"><a href="#">Olvidaste tu contraseña?</a></p>
                    </div>          
                  </div>
          
                </form>

              </div>

            </div>
        </div>
    </div>