
html, body {
    font: 15px;
    height: 100%;
}

footer {
    padding: 0.6rem;
    font-size: 1.2rem;
}

/* login */
body {
    vertical-align: middle;
    background: rgb(207, 207, 207);
}

#login-page {
    width: 450px;
}

#icn-cuenta {
    font-size: 2.5rem;
}
