<nav class="nav-extended">
        
        <div class="nav-wrapper db">
          <a href="#" class="brand-logo"><i class="material-icons">book</i>Asesorias</a>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="bt hide-on-med-and-down">
            <li><a href="http://localhost/sistema_asesorias/">Inicio</a></li>
            <li ><a href="http://localhost/sistema_asesorias/About/cargaAbout">Quienes Somos</a></li>
            <li ><a href="http://localhost/sistema_asesorias/About/cargaContact">Contacto</a></li>
            <li ><a href="http://localhost/sistema_asesorias/Buscar/carga">Encontrar Asesor</a></li>
            <li ><a href="http://localhost/sistema_asesorias/Login/carga">Iniciar Sesión</a></li>
          </ul>
    
      </nav>
    <div class="container">
    
      <div id="login-page" class="row">
        <div class="row">&nbsp;</div>
        <div class="col-md-4 col-xs-12">
    
          <div id="login-card" class="card">
    
            <div class="card-content">
    
              <span class="col card-title cyan-text text-darken-1">Recuperar Contraseña</span>
    
              <form id="formActualizar" class="actualizar-form">
                <div class="row"></div>
    
                <div class="row">
                    <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="password" type="password">
                    <label for="password">Nueva Contraseña</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_outline</i>
                        <input id="password2" type="password">
                        <label for="password2">Confirmar Contraseña</label>
                    </div>
                </div>
    
                <div class="row"></div>
                <div class="row center">
                  <a class="btn waves-effect waves-light colorbase " onclick="actualizarPassword()">Actualizar
                    <i class="material-icons right">check_circle</i></a>
                </div>
                
              </form>
    
            </div>
    
            
          </div>
        </div>
      </div>
    </div>
    