<nav class="nav-extended">
        
    <div class="nav-wrapper db">
      <a href="#" class="brand-logo"><i class="material-icons">book</i>Asesorias</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="bt hide-on-med-and-down">
        <li><a href="http://localhost/sistema_asesorias/">Inicio</a></li>
        <li ><a href="http://localhost/sistema_asesorias/About/cargaAbout">Quienes Somos</a></li>
        <li ><a href="http://localhost/sistema_asesorias/About/cargaContact">Contacto</a></li>
        <li ><a href="http://localhost/sistema_asesorias/Buscar/carga">Encontrar Asesor</a></li>
        <li ><a href="http://localhost/sistema_asesorias/Login/carga">Iniciar Sesión</a></li>
      </ul>

  </nav>
  <div class="container">

        <div id="about-page" class="row">
            <div class="row">&nbsp;</div>
    
            <div id="about-card" class="card">
    
                <div class="card-content">
    
                    <div class="row">
                        <span class="card-title cyan-text text-darken-1">Quienes somos</span>

                        <img src="http://localhost/sistema_asesorias/Resource/imgs/about.jpg" class="square responsive-img">
                        <div class="text-justify">
                            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <span class="card-title cyan-text text-darken-1">Mision</span>
                        <div class="text-justify">
                            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <span class="card-title cyan-text text-darken-1">Team</span>
                        
                        <div class="col s4">
                            <div class="card">
                            <div class="card-image">
                                <img src="http://localhost/sistema_asesorias/Resource/imgs/person1.jpg">
                                <span class="card-title">Fredy Cortes</span>
                            </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="http://localhost/sistema_asesorias/Resource/imgs/person1.jpg">
                                    <span class="card-title">Duvan Botello</span>
                                </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="card">
                            <div class="card-image">
                                <img src="http://localhost/sistema_asesorias/Resource/imgs/person1.jpg">
                                <span class="card-title">Daniel Luna</span>
                            </div>
                            </div>
                        </div>


                    </div>
    
                    
                </div>
    
            </div>
        </div>
    </div>
    
    