<nav class="nav-extended">
        
    <div class="nav-wrapper db">
      <a href="#" class="brand-logo"><i class="material-icons">book</i>Asesorias</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="bt hide-on-med-and-down">
        <li><a href="http://localhost/sistema_asesorias/">Inicio</a></li>
        <li ><a href="http://localhost/sistema_asesorias/About/cargaAbout">Quienes Somos</a></li>
        <li ><a href="http://localhost/sistema_asesorias/Buscar/carga">Encontrar Asesor</a></li>
        <li ><a href="http://localhost/sistema_asesorias/Login/carga">Iniciar Sesión</a></li>
      </ul>

  </nav>
  <div class="container">

        <div id="about-page" class="row">
            <div class="row">&nbsp;</div>
    
            <div id="about-card" class="card">
    
                <div class="card-content">

                    <div class="section scrollspy center">
                        <img src="http://localhost/sistema_asesorias/Resource/imgs/logo.png" style="width:50%;">
                        
                        <div class="row">
                            <div class="col s12 m5">
                                <h4>Mision</h4>
                                <hr class="titulos">
                                <br />
                                <p>Ponemos a tu alcance un servicio adaptado a tus necesidades, desde una consultoría integral con supervisión de todos y cada uno de los pasos que has de seguir para crear un negocio actual (comunicación, diseño corporativo, tecnologías...) a productos adaptados a metodologías ágiles de creación de apps diseñadas por nosotros y avaladas por nuestros años de experiencia.</p>
                    
                            </div>
                            <div class="col s12 m2"></div>
                            <div class="col s12 m5">
                                <h4>Vision</h4>
                                <hr class="titulos">
                                <br />
                                <p>Ponemos a tu alcance un servicio adaptado a tus necesidades, desde una consultoría integral con supervisión de todos y cada uno de los pasos que has de seguir para crear un negocio actual (comunicación, diseño corporativo, tecnologías...) a productos adaptados a metodologías ágiles de creación de apps diseñadas por nosotros y avaladas por nuestros años de experiencia.</p>
                    
                            </div>
                        </div>
                        <br>
                        <hr class="partes">
                    </div>

    
                    <div id="team" class="section scrollspy">
                        <div class="center">
                            <h4>Conoce el Team</h4>
                            <hr class="titulos">
                            <br>
                            <p>Nosotros somos estudiantes de la Universidad de Pamplona.</p>
                            <div class="image-container">
                                <img src="http://localhost/sistema_asesorias/Resource/imgs/up.png" style="width:30%;">
                            </div>
                        </div>
                        <br>
                        <hr class="partes">
                        <br>
                
                        <div class="row">
                            <div class="col s12 m3">
                                <div class="image-container">
                                    <a><img src="http://localhost/sistema_asesorias/Resource/imgs/person1.jpg" class="circle responsive-img"></a>
                                </div>
                            </div>
                            <div class="col s12 m9">
                            <h4>Fredy Cortes</h4>
                            <p>Fredy es un estudiante del programa Ingenieria de Sistemas del 8 semestre. Tiene 21 años y se dedica a realizar trabajos de desarrollo web en su tiempo libre.</p>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col s12 m3">
                                <div class="image-container">
                                    <a><img src="http://localhost/sistema_asesorias/Resource/imgs/person2.jpg" class="circle responsive-img"></a>
                                </div>
                            </div>
                            <div class="col s12 m9">
                            <h4>Duvan Botello</h4>
                            <p>Duvan es un estudiante del programa Ingenieria de Sistemas del 8 semestre. Tiene 24 años y trabaja como desarrollador actualmente en la empresa Megaterios.</p>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col s12 m3">
                                <div class="image-container">
                                    <a><img src="http://localhost/sistema_asesorias/Resource/imgs/person3.png" class="circle responsive-img"></a>
                                </div>
                            </div>
                            <div class="col s12 m9">
                            <h4>Daniel Luna</h4>
                            <p>Daniel es un estudiante del programa Ingenieria de Sistemas del 8 semestre. Tiene 20 años y se dedica a realizar proyectos y cursos de apps moviles en su tiempo libre.</p>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
    
            </div>
        </div>
    </div>
    
    