<nav class="nav-extended">
        
    <div class="nav-wrapper db">
        <a href="#" class="brand-logo"><i class="material-icons">book</i>Asesorias</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="bt hide-on-med-and-down">
        <li><a href="http://localhost/sistema_asesorias/">Inicio</a></li>
        <li ><a href="http://localhost/sistema_asesorias/About/cargaAbout">Quienes Somos</a></li>
        <li ><a href="http://localhost/sistema_asesorias/About/cargaContact">Contacto</a></li>
        <li ><a href="http://localhost/sistema_asesorias/Buscar/carga">Encontrar Asesor</a></li>
        <li ><a href="http://localhost/sistema_asesorias/Login/carga">Iniciar Sesión</a></li>
        </ul>

    </nav>
    <div class="container">

            <div id="about-page" class="row">
                <div class="row">&nbsp;</div>
        
                <div id="about-card" class="card">
        
                    <div class="card-content">
        
                        <img src="http://localhost/sistema_asesorias/Resource/imgs/contact.jpg" class="square responsive-img">
                        <br>
                        <h4 class="center">Contacto</h4>
                        <hr class="titulos">
                        
                        <form id='formContact' class="contact-form">
                                <div class="row"></div>
            
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">account_box</i>
                                        <input id="nombres" name="nombres" type="text">
                                        <label for="nombres">Nombre</label>
                                    </div>
                                </div>
            
                                
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">mail_outline</i>
                                        <input class="validate" id="email" name="email" type="email">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">mode_edit</i>
                                        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                                        <label for="icon_prefix2">Comentarios</label>
                                    </div>
                                </div>

                                <div class="row"></div>
                                <div class="row center">
                                    <a class="btn success">
                                        Enviar<i class="material-icons right">check_circle</i></a>
                                </div>
            
                            </form>
                        
                    </div>
        
                </div>
        
            </div>
    </div>